# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other compiled files
*.dll
*.exe

# Visual Studio Stuff
*.suo
*.user
*.ncb
*.sdf
*.opensdf
Debug/
Release/
ipch/